.html, body {
    margin: 0;
    padding: 0;
}

.landing {
    background-color: #585657;
    background-image: url('https://cdn.discordapp.com/attachments/979599013273800754/1001474073685139577/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 393.5px 300px;
}

.title {
    color: white;
    text-align: center;
}